<%- include("partials/_head") %>
    <% if (login) {%>
<!--Menu superior ADMINISTRADORES--> <% if (rol) {%>

</head>
<body>
    
    <section class="bienvenidos">
        <%- include("partials/_header_logged_admin") %>

    </section>
 <!--Menu superior CONTRATISTAS--><% }else{ %>


</head>
 <body>
     
    <section class="bienvenidos">
            <%- include("partials/_header_logged_contratistas") %>

            <div class="welcomers text-center">
                <% if (sexo) { %>
           
                   <h5 id="welcomers" class=" wow bounceIn">Bienvenida </h5> <h5 class="nombre_contrat wow bounceIn"> <%=name %> </h5>

               <% }else{ %>

                   <h5 id="welcomers" class=" wow bounceIn">Bienvenido </h5> <h5 class="nombre_contrat wow bounceIn"> <%=name %> </h5>

              <% } %>
              </div>
              <div>
                <h6 id="welcomers"> CONTRATOS</h6>
                <table id="lista-contratos" class="principal-table table-striped">
                    <thead> 
                        <tr>
                            <th>Fecha contrato</th>
                            <th>ID del contrato</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <% if (contratos[0] != undefined) {%>
                    <tbody>
                    <% for (let index = 0; index < contratos[0].length; index++) { %>
                        <tr >
                            <td><a href=""><%=contratos[0][index].fecha_contrato %></a></td>
                            <td><a href=""><%=contratos[0][index].id %></a></td>
                            <% if (contratos[0][index].estatus_ == 0){%>
                            <td>Agendado</td>
                            <% }else{ %>
                            <td>Emitido</td>
                            <% } %>
                        </tr> 
                    <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
              </div>
            <% }else{ %>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> 
            <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                </tr>
            </tfoot>
        </table>
      </div>


                <% } %>

        </section>
<!--Menu superior--><% }else { %>
            </head>
            <body>
              
                <section class="bienvenidos">
                    <%- include("partials/_header") %>
                    <% } %>
            
                    
    </section>


      
    <%- include("partials/_footer") %>

    <!--Carga de archivos js-->
    <script src="/styles/scriptindex.js"></script> 
    <script src="contratistas-styles/js/jquery-1.9.1.min.js"></script>
    <script src="contratistas-styles/js/bootstrap.min.js"></script>
    <script src="contratistas-styles/js/owl.carousel.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".owl-carousel").owlCarousel({
                loop: true,
                margin: 0,
                nav: true,
                autoWidth: false,
                navText: ['<i class="fa fa-arrow-circle-left" title="Anterior"></i>', '<i class="fa  fa-arrow-circle-right" title="Siguiente"></i>'],
                responsive: {
                    0: {
                        items: 1
                    },
                    500: {
                        items: 2,
                        margin: 20
                    },
                    800: {
                        items: 3,
                        margin: 20
                    },
                    1000: {
                        items: 4,
                        margin: 20
                    }
                }
            });
        });
    </script>
    <script src="contratistas-styles/js/wow.min.js"></script>
    <script src="contratistas-styles/js/smooth-scroll.min.js"></script>
    <script src="contratistas-styles/js/sitio.js"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script type="text/javascript">
        const socket = io()
    </script>
</body>

</html>