<%- include("partials/_head") %>
    <% if (login) {%>
        <% if (rol) {%>

</head>
<body>
    <!--Menu superior-->
    <section class="bienvenidos">
        <%- include("partials/_header_logged_admin") %>


        <% }else{ %>


</head>
 <body>
     <!--Menu superior-->
    <section class="bienvenidos">
            <%- include("partials/_header_logged_contratistas") %>


            <% } %>


            <% }else { %>
            </head>
            <body>
                <!--Menu superior-->
                <section class="bienvenidos">
                    <%- include("partials/_header") %>
                    <% } %>
            <h6>Bienvenid</h6>





    </section>


      
    <%- include("partials/_footer") %>

    <!--Carga de archivos js-->
    <script src="/styles/scriptindex.js"></script> 
    <script src="contratistas-styles/js/jquery-1.9.1.min.js"></script>
    <script src="contratistas-styles/js/bootstrap.min.js"></script>
    <script src="contratistas-styles/js/owl.carousel.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".owl-carousel").owlCarousel({
                loop: true,
                margin: 0,
                nav: true,
                autoWidth: false,
                navText: ['<i class="fa fa-arrow-circle-left" title="Anterior"></i>', '<i class="fa  fa-arrow-circle-right" title="Siguiente"></i>'],
                responsive: {
                    0: {
                        items: 1
                    },
                    500: {
                        items: 2,
                        margin: 20
                    },
                    800: {
                        items: 3,
                        margin: 20
                    },
                    1000: {
                        items: 4,
                        margin: 20
                    }
                }
            });
        });
    </script>
    <script src="contratistas-styles/js/wow.min.js"></script>
    <script src="contratistas-styles/js/smooth-scroll.min.js"></script>
    <script src="contratistas-styles/js/sitio.js"></script>
</body>

</html>