<%- include("partials/_head") %>
        <link rel="stylesheet" href="/styles/register.css">
      </head>
      <% if (rol && login) { %>
        <%- include("partials/_header_logged_admin") %>

      </div>
      <body>
        <section class="form-register">
          <h4>REGISTRAR USUARIO <br> CONTRATISTA</h4>
          <form action="" method="POST">
          <input class="controls" type="email" name="email" placeholder="email" required tabindex="1" autofocus>
          <input class="controls" type="tel" name="n_telefono" placeholder="Número de Telefóno" required tabindex="2" maxlength="11">
          <input class="controls" type="text" name="c_identidad" placeholder="Cédula de Identidad" required tabindex="3" maxlength="8">
          <input class="controls" type="password" name="pass" placeholder="Contraseña" required tabindex="4" minlength="8" maxlength="30">
          <input class="controls" type="text" name="nombres" placeholder="Nombres" required tabindex="5" >
          <input class="controls" type="text" name="apellidos" placeholder="Apellidos" required tabindex="6" >
          <select class="controls" type="text" name="empresa_contratista" placeholder="Seleccione empresa" required tabindex="7" >
            <option value="1">Servitel</option>
            <option value="0">Hetelca</option>
          <input class="botons" type="submit" value="Registrar">
            <label for=""></label>
  
          </form>
  
        </section>
        <script src="/styles/sweetalert210.js"></script>
  
            <% if (typeof alert != "undefined")  { %>
              <script>
              Swal.fire({
     title:'<%= alertTitle %>',
     text:'<%= alertMessage %>',
     icon:'<%= alertIcon %>',
     showConfirmButton: <%= showConfirmButton %>,
     timer: <%= timer %>
   }).then(()=>{
     window.location='/<%= ruta %>'
   })
   </script>
  <% } %>
      <% }else{ %>
        <body>
          <section class="form-register">
            <h4>USTED NO TIENE PERMISOS PARA ACCEDER A ESTA PÁGINA</h4>
            <a href="index">volver al inicio</a>
          </section>
          <script src="/styles/sweetalert210.js"></script>
    
              <% if (typeof alert != "undefined")  { %>
                <script>
                Swal.fire({
       title:'<%= alertTitle %>',
       text:'<%= alertMessage %>',
       icon:'<%= alertIcon %>',
       showConfirmButton: <%= showConfirmButton %>,
       timer: <%= timer %>
     }).then(()=>{
       window.location='/<%= ruta %>'
     })
     </script>
     <% } %>
        <% } %>
      
    
<%- include("partials/_footer") %>