<%- include("partials/_head") %>


        <link rel="stylesheet" href="/styles/register.css">
      </head>
      <% if (login) { %>
        <% if(rol == 2){ %>
        <%- include("partials/_header_logged_admin") %>

      </div>
      <body>
        <section class="form-register">
          <h4>EDITAR CONTRATO</h4>
          <form action="" method="POST">
          <input class="controls" type="text" name="id" placeholder="ID del Contrato*" value="<%=contratos[0][0].id %>" tabindex="1" autofocus>
          <input class="controls" type="date" name="fecha_contrato" placeholder="Fecha del Contrato*" value="<%=contratos[0][0].fecha_contrato %>" required tabindex="2">
          <select class="controls" type="text" name="estatus_" placeholder="Estado de la Instalación*" value="<%=contratos[0][0].estatus_ %>" required tabindex="3" >
            <option value="0">Agendado</option>
            <option value="1">Instalado</option>
          <input class="controls" type="text" name="ci_cliente" placeholder="CI del cliente*" value="<%=contratos[0][0].ci_cliente %>" required tabindex="4" maxlength="30">
          <input class="controls" type="text" name="id_cuenta" placeholder="ID Cuenta del Cliente*" value="<%=contratos[0][0].id_cuenta %>" required tabindex="5" maxlength="30">
          <input class="controls" type="text" name="plan_contratado" placeholder="Plan Contratado*" value="<%=contratos[0][0].plan_contratado %>" required tabindex="6" maxlength="30">
          <input class="controls" type="text" name="direccion_contrato" placeholder="Dirección del Contrato*" value="<%=contratos[0][0].direccion_contrato %>" required tabindex="7" >
          <input class="controls" type="text" name="motivo_standby" placeholder="Motivo de Pausa" value="<%=contratos[0][0].motivo_standby %>" tabindex="8" >
          <input class="controls" type="date" name="fecha_instalacion" placeholder="Fecha de Instalación" value="<%=contratos[0][0].fecha_instalacion %>" tabindex="9" >
          <input class="controls" type="text" name="recursos_inventario_instalacion" placeholder="Recursos Utilizados" value="<%=contratos[0][0].recursos_inventario_instalacion %>" tabindex="10" >
          <input class="controls" type="text" name="observaciones_instalacion" placeholder="Observaciones" value="<%=contratos[0][0].observaciones_instalacion %>" tabindex="11" >
          <input class="controls" type="text" name="contratista_asignado" placeholder="Contratista Asignado" value="<%=contratos[0][0].contratista_asignado %>" tabindex="12" >
          <select class="controls" type="text" name="empresa_contratista" placeholder="Empresa Contratista" value="<%=contratos[0][0].empresa_contratista %>" tabindex="13">
            <option value="0">Hetelca</option>
            <option value="1">Servitel</option>
          <input class="controls" type="text" name="telefono_cliente" placeholder="Teléfono del Cliente" value="<%=contratos[0][0].telefono_cliente %>" tabindex="14"minlength='11' maxlength="11">
          <input class="controls" type="text" name="nodo" placeholder="Nodo*" value="<%=contratos[0][0].nodo %>" required tabindex="15" >
          <input class="botons" type="submit" value="Registrar">
            <label for=""></label>
  
          </form>
  
        </section>
        <script src="/styles/sweetalert210.js"></script>
  
            <% if (typeof alert != "undefined")  { %>
              <script>
              Swal.fire({
     title:'<%= alertTitle %>',
     text:'<%= alertMessage %>',
     icon:'<%= alertIcon %>',
     showConfirmButton: <%= showConfirmButton %>,
     timer: <%= timer %>
   }).then(()=>{
     window.location='/<%= ruta %>'
   })
   </script>
  <% } %>
  <% }else if (rol == 1){ %>
    <% if (empresa_contratista == contratos[0][0].empresa_contratista) {%>
    <%- include("partials/_header_logged_admin") %>

  </div>
  <body>
    <section class="form-register">
      <h4>EDITAR CONTRATO</h4>
      <form action="" method="POST">
      <input class="controls" type="text" name="id" placeholder="ID del Contrato*" value="<%=contratos[0][0].id %>" tabindex="1" autofocus>
      <input class="controls" type="date" name="fecha_contrato" placeholder="Fecha del Contrato*" value="<%=contratos[0][0].fecha_contrato %>" required tabindex="2">
      <select class="controls" type="text" name="estatus_" placeholder="Estado de la Instalación*" value="<%=contratos[0][0].estatus_ %>" required tabindex="6" >
        <option value="0">Agendado</option>
        <option value="1">Instalado</option>
      <input class="controls" type="text" name="ci_cliente" placeholder="CI del cliente*" value="<%=contratos[0][0].ci_cliente %>" required tabindex="4" maxlength="30">
      <input class="controls" type="text" name="id_cuenta" placeholder="ID Cuenta del Cliente*" value="<%=contratos[0][0].id_cuenta %>" required tabindex="4" maxlength="30">
      <input class="controls" type="text" name="plan_contratado" placeholder="Plan Contratado*" value="<%=contratos[0][0].plan_contratado %>" required tabindex="5" maxlength="30">
      <input class="controls" type="text" name="direccion_contrato" placeholder="Dirección del Contrato*" value="<%=contratos[0][0].direccion_contrato %>" required tabindex="7" >
      <input class="controls" type="text" name="motivo_standby" placeholder="Motivo de Pausa" value="<%=contratos[0][0].motivo_standby %>" tabindex="8" >
      <input class="controls" type="date" name="fecha_instalacion" placeholder="Fecha de Instalación" value="<%=contratos[0][0].fecha_instalacion %>" tabindex="9" >
      <input class="controls" type="text" name="recursos_inventario_instalacion" placeholder="Recursos Utilizados" value="<%=contratos[0][0].recursos_inventario_instalacion %>" tabindex="10" >
      <input class="controls" type="text" name="observaciones_instalacion" placeholder="Observaciones" value="<%=contratos[0][0].observaciones_instalacion %>" tabindex="11" >
      <input class="controls" type="text" name="contratista_asignado" placeholder="Contratista Asignado" value="<%=contratos[0][0].contratista_asignado %>" tabindex="12" >
      <input class="controls" type="text" name="telefono_cliente" placeholder="Teléfono del Cliente" value="<%=contratos[0][0].telefono_cliente %>" tabindex="13"minlength='11' maxlength="11">
      <input class="controls" type="text" name="nodo" placeholder="Nodo*" value="<%=contratos[0][0].nodo %>" required tabindex="14" >
      <input class="botons" type="submit" value="Registrar">
        <label for=""></label>

      </form>

    </section>
    <script src="/styles/sweetalert210.js"></script>

        <% if (typeof alert != "undefined")  { %>
          <script>
          Swal.fire({
 title:'<%= alertTitle %>',
 text:'<%= alertMessage %>',
 icon:'<%= alertIcon %>',
 showConfirmButton: <%= showConfirmButton %>,
 timer: <%= timer %>
}).then(()=>{
 window.location='/<%= ruta %>'
})
</script>
<% } %>
    <% }else{ %>
      <body>
        <section class="form-register">
          <div class="welcomers text-center">
            <h5 id="welcomers">ESTE CONTRATO NO ESTÁ ASIGNADO A USTED</h5>
            <a href="/index">volver a inicio</a>
        </div>
        </section>
      <% } %>
  <% }else{ %>
    <%- include("partials/_header_logged_contratistas") %>
    <% if(id_contrat == contratos[0][0].contratista_asignado) {%>


    </div>
    <body>
      <section class="form-register">
        <h4>EDITAR CONTRATO</h4>
        <form action="" method="POST">
        <input class="controls" type="text" name="id" placeholder="ID del Contrato*" value="<%=contratos[0][0].id %>" tabindex="1" autofocus readonly>
        <input class="controls" type="text" name="fecha_contrato" placeholder="Fecha del Contrato*" value="<%=contratos[0][0].fecha_contrato %>" required tabindex="2" readonly>
        <select class="controls" type="text" name="estatus_" placeholder="Estado de la Insstalación*" value="<%=contratos[0][0].estatus_%>" required tabindex="6" >
          <option value="0">Agendado</option>
          <option value="1">Instalado</option>
        <input class="controls" type="text" name="ci_cliente" placeholder="CI del cliente*" value="<%=contratos[0][0].ci_cliente %>" required tabindex="4" maxlength="30" readonly>
        <input class="controls" type="text" name="id_cuenta" placeholder="ID Cuenta del Cliente*" value="<%=contratos[0][0].id_cuenta %>" required tabindex="4" maxlength="30" readonly>
        <input class="controls" type="text" name="plan_contratado" placeholder="Plan Contratado*" value="<%=contratos[0][0].plan_contratado%>" required tabindex="5" maxlength="30">
        <input class="controls" type="text" name="direccion_contrato" placeholder="Dirección del Contrato*" value="<%=contratos[0][0].direccion_contrato%>"required tabindex="7" >
        <input class="controls" type="text" name="motivo_standby" placeholder="Motivo de Pausa" value="<%=contratos[0][0].motivo_standby%>" tabindex="8" >
        <input class="controls" type="date" name="fecha_instalacion" placeholder="Fecha de Instalación" value="<%=contratos[0][0].fecha_instalacion %>"tabindex="9" >
        <input class="controls" type="text" name="recursos_inventario_instalacion" placeholder="Recursos Utilizados" value="<%=contratos[0][0].recursos_inventario_instalacion%>"tabindex="10" >
        <input class="controls" type="text" name="observaciones_instalacion" placeholder="Observaciones"value="<%=contratos[0][0].observaciones_instalacion%>" tabindex="11" >
        <input class="controls" type="text" name="telefono_cliente" placeholder="Teléfono del Cliente" value="<%=contratos[0][0].telefono_cliente %>" tabindex="12"minlength='11' maxlength="11">
        <input class="controls" type="text" name="nodo" placeholder="Nodo*" value="<%=contratos[0][0].nodo %>"required tabindex="13" >
        <input class="botons" type="submit" value="Registrar">
          <label for=""></label>

        </form>

      </section>
      <script src="/styles/sweetalert210.js"></script>

          <% if (typeof alert != "undefined")  { %>
            <script>
            Swal.fire({
   title:'<%= alertTitle %>',
   text:'<%= alertMessage %>',
   icon:'<%= alertIcon %>',
   showConfirmButton: <%= showConfirmButton %>,
   timer: <%= timer %>
 }).then(()=>{
   window.location='/<%= ruta %>'
 })
 </script>
<% } %>
     
  
  <% }else{ %>
    <body>
      <section class="form-register">
        <div class="welcomers text-center">
          <h5 id="welcomers">ESTE CONTRATO NO ESTÁ ASIGNADO A USTED</h5>
          <a href="/index">volver a inicio</a>
      </div>
      </section>
      <script src="/styles/sweetalert210.js"></script>

          <% if (typeof alert != "undefined")  { %>
            <script>
            Swal.fire({
   title:'<%= alertTitle %>',
   text:'<%= alertMessage %>',
   icon:'<%= alertIcon %>',
   showConfirmButton: <%= showConfirmButton %>,
   timer: <%= timer %>
 }).then(()=>{
   window.location='/<%= ruta %>'
 })
 </script>
 <% } %>
    <% } %>

    <% } %>
      <% }else{ %>
        <body>
          <section class="form-register">
            <h4>USTED NO TIENE PERMISOS PARA ACCEDER A ESTA PÁGINA</h4>
            <a href="/index">volver al inicio</a>
          </section>
          <script src="/styles/sweetalert210.js"></script>
    
              <% if (typeof alert != "undefined")  { %>
                <script>
                Swal.fire({
       title:'<%= alertTitle %>',
       text:'<%= alertMessage %>',
       icon:'<%= alertIcon %>',
       showConfirmButton: <%= showConfirmButton %>,
       timer: <%= timer %>
     }).then(()=>{
       window.location='/<%= ruta %>'
     })
     </script>
     <% } %>
        <% } %>
      
   