<%- include("partials/_head") %>
        <link rel="stylesheet" href="/styles/register.css">
      </head>
      <% if (rol && login) { %>
        <%- include("partials/_header_logged_admin") %>

      </div>
      <body>
        <section class="form-register">
          <h4>REGISTRAR CONTRATO</h4>
          <form action="" method="POST">
          <input class="controls" type="text" name="id" placeholder="ID del Contrato*" required tabindex="1" autofocus>
          <input class="controls" type="date" name="fecha_contrato" placeholder="Fecha del Contrato*" required tabindex="2">
          <select class="controls" type="text" name="estatus_" placeholder="Estado de la Insstalación*" required tabindex="3" >
            <option value="0">Agendado</option>
            <option value="1">Emitido</option>
          <input class="controls" type="text" name="ci_cliente" placeholder="Cédula del Cliente*" required tabindex="4" maxlength="30">  
          <input class="controls" type="text" name="id_cuenta" placeholder="ID Cuenta del Cliente*" required tabindex="5" maxlength="30">
          <input class="controls" type="text" name="plan_contratado" placeholder="Plan Contratado*" required tabindex="6" maxlength="30">
          <input class="controls" type="text" name="direccion_contrato" placeholder="Dirección del Contrato*" required tabindex="7" >
          <input class="controls" type="text" name="motivo_standby" placeholder="Motivo de Pausa" tabindex="8" >
          <input class="controls" type="date" name="fecha_instalacion" placeholder="Fecha de Instalación" tabindex="9" >
          <input class="controls" type="text" name="recursos_inventario_instalacion" placeholder="Recursos Utilizados" tabindex="10" >
          <input class="controls" type="text" name="observaciones_instalacion" placeholder="Observaciones" tabindex="11" >
          <input class="controls" type="text" name="contratista_asignado" placeholder="Contratista Asignado" tabindex="12" >
          <select class="controls" type="text" name="empresa_contratista" placeholder="Empresa Contratista" tabindex="13">
            <option value="0">Hetelca</option>
            <option value="1">Servitel</option>
          <input class="controls" type="text" name="telefono_cliente" placeholder="Teléfono del Cliente" tabindex="14"minlength='11' maxlength="11">
          <input class="controls" type="text" name="nodo" placeholder="Nodo*" required tabindex="15" >
          
          <input class="botons" type="submit" value="Registrar" tabindex="16">
          
            <label for=""></label>
  
          </form>
  
        </section>
        <section class="form-register">
          <h4>SUBIR XML O JSON</h4>
          <form action="/upload-contrato/json" method="POST" enctype="multipart/form-data">
          <input class="controls" type="file" name="file" required>
          <input class="botons" type="submit" value="Registrar">
          </form>
        </section>
        <script src="/styles/sweetalert210.js"></script>
  
            <% if (typeof alert != "undefined")  { %>
              <script>
              Swal.fire({
     title:'<%= alertTitle %>',
     text:'<%= alertMessage %>',
     icon:'<%= alertIcon %>',
     showConfirmButton: <%= showConfirmButton %>,
     timer: <%= timer %>
   }).then(()=>{
     window.location='/<%= ruta %>'
   })
   </script>
  <% } %>
      <% }else{ %>
        <body>
          <section class="form-register">
            <h4>USTED NO TIENE PERMISOS PARA ACCEDER A ESTA PÁGINA</h4>
            <a href="index">volver al inicio</a>
          </section>
          <script src="/styles/sweetalert210.js"></script>
    
              <% if (typeof alert != "undefined")  { %>
                <script>
                Swal.fire({
       title:'<%= alertTitle %>',
       text:'<%= alertMessage %>',
       icon:'<%= alertIcon %>',
       showConfirmButton: <%= showConfirmButton %>,
       timer: <%= timer %>
     }).then(()=>{
       window.location='/<%= ruta %>'
     })
     </script>
     <% } %>
        <% } %>
      
    
